html, body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom, #215F96, #8A2BE2);
    background-repeat: no-repeat;
    color: #f5f5dc;
}

body 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para el encabezado y pie de página */
header, footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Estilo para los enlaces de navegación */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Estilo para los encabezados */
h2, h3 
{
    text-align: center;
    margin-top: 0;
    text-shadow: -5px -5px 5px #aaa;
    color: white;
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

main {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilo para el contenedor de la sección */
section {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para los artículos */
article {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
/* Estilos para los artículos de la cuadrícula */
.grid-item
 {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    transition-property: width, background-color;
    transition-duration: 1s, 1s;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 0s;

}

.grid-item:hover
 {
    background-color:#8B008B;
}
/* Estilo para los formularios */
form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input, form textarea
{
    width: 100%;
    max-width: 1000px;
    padding: 1px;
    margin: 1px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

button 
{
    display: flex;
    width: 100px;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition:width 1s, background-color 3s;
}
button:hover 
{
    width:300px;
    background-color: #E9967A;
}
button img 
{
    margin-left: 10px;
}



hr {
    width: 100%;
    border: 1px solid #f5f5dc;
    margin: 20px 0;
}
